{% extends "home/layout.html" %}

{% import "common/index_pagination.html" as pagination %}

{% block content %}
<!--热门电影-->
<div class="container" style="margin-top:85px">
    <div class="row wow fadeInRight" data-wow-delay="0.6s">
        <div class="row">
            <iframe width="100%" height="375px" frameborder=0 scrolling=no
                    src="{{ url_for('home.animation') }}"></iframe>
        </div>
    </div>
</div>
<!--热门电影-->
<!--电影列表-->
<div id="movielist">
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.6s">
            <div class="col-md-12 table-responsive">
                <table class="table text-left table-bordered" id="movietags">
                    <tr>
                        <td style="width:10%;">电影标签</td>
                        <td style="width:90%;">
                            {% for i in tags %}
                            <a style="margin-bottom: 3px;margin-top: 3px"
                               href="{{ url_for('home.index') }}?tid={{ i.id }}&star={{ param['star'] }}&time={{ param['time'] }}&pm={{ param['pm'] }}&cm={{ param['cm'] }}"
                               class="label label-info"><span class="glyphicon glyphicon-tag"></span>&nbsp;{{ i.name }}</a>
                            &nbsp;
                            {% endfor %}
                    </tr>
                    <tr>
                        <td>电影星级</td>
                        <td>
                            {% for i in range(star_list|length) %}
                            <a href="{{ url_for('home.index') }}?tid={{ param['tid'] }}&star={{ i + 1 }}&time={{ param['time'] }}&pm={{ param['pm'] }}&cm={{ param['cm'] }}"
                               class="label label-warning"><span class="glyphicon glyphicon-star"></span>&nbsp;{{
                                star_list[i] }}星</a>
                            &nbsp;
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>上映时间</td>
                        <td>
                            <a href="{{ url_for('home.index') }}?tid={{ param['tid'] }}&star={{ param['star'] }}&time=0&pm={{ param['pm'] }}&cm={{ param['cm'] }}"
                               class="label label-default"><span class="glyphicon glyphicon-time"></span>&nbsp;最近</span>
                            </a>
                            &nbsp;
                            <a href="{{ url_for('home.index') }}?tid={{ param['tid'] }}&star={{ param['star'] }}&time=1&pm={{ param['pm'] }}&cm={{ param['cm'] }}"
                               class="label label-default"><span class="glyphicon glyphicon-time"></span>&nbsp;更早</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>播放数量</td>
                        <td>
                            <a href="{{ url_for('home.index') }}?tid={{ param['tid'] }}&star={{ param['star'] }}&time={{ param['time'] }}&pm=0&cm={{ param['cm'] }}"
                               class="label label-success"><span class="glyphicon glyphicon-arrow-down"></span>&nbsp;从高到底</span>
                            </a>
                            &nbsp;
                            <a href="{{ url_for('home.index') }}?tid={{ param['tid'] }}&star={{ param['star'] }}&time={{ param['time'] }}&pm=1&cm={{ param['cm'] }}"
                               class="label label-danger"><span
                                    class="glyphicon glyphicon-arrow-up"></span>&nbsp;从低到高</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>评论数量</td>
                        <td>
                            <a href="{{ url_for('home.index') }}?tid={{ param['tid'] }}&star={{ param['star'] }}&time={{ param['time'] }}&pm={{ param['pm'] }}&cm=0"
                               class="label label-success"><span class="glyphicon glyphicon-arrow-down"></span>&nbsp;从高到底</span>
                            </a>
                            &nbsp;
                            <a href="{{ url_for('home.index') }}?tid={{ param['tid'] }}&star={{ param['star'] }}&time={{ param['time'] }}&pm={{ param['pm'] }}&cm=1"
                               class="label label-danger"><span
                                    class="glyphicon glyphicon-arrow-up"></span>&nbsp;从低到高</span></a>
                        </td>
                    </tr>
                </table>
            </div>

            {% for i in page_data.items %}
            <div class="col-md-3">
                <div class="movielist text-center">
                    <img style="height: 262px;" src="{{ url_for('static', filename='uploads/' + i.logo) }}"
                         class="img-responsive center-block"
                         alt="">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">{{ i.title }}</span><br>
                        <div>
                            {% for i in range(i.star) %}
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            {% endfor %}
                            {% for i in range(5 - i.star) %}
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{{ url_for('home.video', id=i.id) }}" class="btn btn-primary" role="button"><span
                            class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>
            {% endfor %}
            <!--<h1>?tid={{ param['tid'] }}&star={{ param['star'] }}&time={{ param['time'] }}&pm={{ param['pm'] }}&cm={{ param['cm'] }}</h1>-->
            <div class="col-md-12">
                {{ pagination.page(page_data, "home.index", param['tid'], param['star'], param['time'], param['pm'],
                param['cm']) }}
            </div>
        </div>
    </div>
</div>
<!--电影列表-->
{% endblock %}